@font-face {
    font-family: 'arialregular';
    src: url('fonts/Arial Reg/arial-regular-webfont.woff2') format('woff2'),
    url('fonts/Arial Reg/arial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialitalic';
    src: url('fonts/Arial Italic/ariali_1-webfont.woff2') format('woff2'),
    url('fonts/Arial Italic/ariali_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'georgiaregular';
    src: url('fonts/Georgia/georgia-webfont.woff2') format('woff2'),
    url('fonts/Georgia/georgia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

section, div, footer {
    box-sizing: border-box;
}

.start-section, .about-section, .pets-section, .help-section, .donation-section, .contacts-section, footer {
    width: 100%;
    max-width: 1280px;
}

.start-section {
    background: url("assets/start-screen-gradient-background.png") no-repeat;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 60px 40px 0 40px;
}

.start-section > *:not(:last-child) {
    margin-bottom: 60px;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    height: 27px;
    display: flex;
}

.nav-menu a, .logo p, .start-section p, .about-section p {
    font-family: arialregular, "Roboto Thin", sans-serif;
}

.start-section-description h2, h3, h4, h5, .start-section button, .katrine-card .jennifer-card .woody-card button, #button-primary,
.slider p, .contacts-section h4 {
    font-family: georgiaregular, "Times New Roman", sans-serif;
}

.burger-menu {
    display: none;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 15px;
}

a:not(:last-child) {
    margin-right: 35px;
}

a:hover {
    color: #FAFAFA;
}

a:active {
    border-bottom: solid 1px #F1CDB3;
    color: #FAFAFA;
}

.logo {
    width: 184px;
    height: 60px;
}

.logo p {
    font-size: 13px;
}

.start-section-content {
    display: flex;
}


.start-section-description {
    max-width: 460px;
    margin-top: 163px;
}

.start-section-description > *:not(:last-child) {
    margin-bottom: 42px;
}

.start-section-description h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 57px;
    color: white;
}

.start-section-description button > a {
    text-decoration: none;
    color: #292929;
}

.pets-content button > a {
    text-decoration: none;
    color: #292929;
}

.card, button:hover {
    cursor: pointer;
}

h3 {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
}

h4 {
    font-size: 20px;
    color: #545454;
}

h5 {
    font-size: 15px;
    color: #545454;
}

.start-section p {
    color: #CDCDCD;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.start-section button {
    width: 207px;
    height: 52px;
    border-radius: 45px;
    background-color: #F1CDB3;
    color: #292929;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

#start-screen-puppy {
    height: 100%;
}

.start-section-img {
    width: 698px;
    height: 728px;
}

.about-section {
    background-color: white;
    padding: 80px 80px 100px;
}

.about-section img {
    width: 300px;
}

.about-section p {
    color: #4C4C4C;
    font-size: 15px;

}

.about-section-content {
    display: flex;
}

.about-section .about-section-content {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
}

.about-section-description {
    flex: 1;
}

.about-section-description > *:not(:last-child) {
    margin-bottom: 25px;
}

.about-img {
    text-align: center;
    flex: 1;
}

.pets-section {
    background-color: #F6F6F6;
}

.pets-section h3 {
    text-align: center;
}

.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 40px 100px;
}

.katrine-card .jennifer-card .woody-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 270px;
}

.cards{
    width: 990px;
    overflow: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-card {
    display: grid;
    grid-template-columns: 350px 300px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.katrine-card .jennifer-card .woody-card button {
    font-size: 17px;
}

.katrine-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.jennifer-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.woody-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.slider {
    margin: 60px 40px;
    display: grid;
    grid-template-areas: "left-btn cards right-btn";
    align-items: center;
}

.slider > *:not(:last-child) {
    margin-right: 12px;
}

.slider .slider-btn {
    height: 52px;
}

.slider .slider-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.slider .slider-btn.left {
    transform: rotate(180deg);
    grid-area: left-btn;
}

.slider .slider-btn.right {
    grid-area: right-btn;
}

.slider .cards {
    grid-area: cards;
    display: flex;
    justify-content: space-between;
}

.slider .cards > *:not(:last-child) {
    margin-right: 90px;
}

#button-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    font-size: 17px;
    width: 261px;
    height: 52px;

    background: #F1CDB3;
    border-radius: 100px;
}

.slider p {
    font-size: 20px;
}

.help-section {
    background: #FFFFFF;
    padding: 80px 40px 100px 40px;
}

.help-section .help-content > *:not(:last-child) {
    margin-bottom: 60px;
}

.help-content h3 {
    text-align: center;
}


.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.help-possibility {
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 140px;
}

.help-possibility h4 {
    white-space: nowrap;
}

.donation-section {
    background: #F6F6F6;
}

.donation-content p {
    font-family: arialitalic sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.card-item {
    background-color: #F1CDB3;
    max-width: 350px;
    width: 100%;
    height: 43px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-section {
    padding: 80px 0 100px 0;
}

.donation-content {
    display: flex;
    margin: 0 auto;
    max-width: 915px;
}

.donation-content > *:not(:last-child) {
    margin-right: 30px;
}

.donation-description > *:not(:last-child) {
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content .info {
    display: flex;
    justify-content: space-between;
}

.footer-content .info .contacts > :not(:last-child),
.footer-content .info .locations > :not(:last-child) {
    margin-bottom: 40px;
}

footer .info a:hover, a:link, a:visited {
    text-decoration: none;
}

.info {
    display: grid;
    grid-template-columns: 278px 302px;
    column-gap: 160px;
}

.contacts img {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.locations img {
    width: 22px;
    height: 32px;
}

.contacts-item {
    display: flex;
    align-items: baseline;
}

.contacts-section {
    background: url("assets/footer-gradient-background.png") no-repeat;
    padding: 40px 40px 0 40px;
    background-size: auto 100%;
}

.contacts-section h3 {
    color: #fff;
}

.contacts-section h4 {
    color: #F1CDB3;
    font-size: 20px;
    font-weight: normal;
}


@media (max-width: 1140px) {
    .slider {
        grid-template-areas:
                "cards cards"
                "left-btn right-btn";
        justify-content: center;
        gap: 20px 80px;
    }

    .slider .cards > *:not(:last-child) {
        margin-right: 0;
    }

    .slider .cards > *:not(:first-child):not([style*="display: none"]) {
        margin-left: 40px;
    }

    .footer-content {
        flex-flow: column;
        align-items: center;
    }

    .footer-content > *:not(:last-child) {
        margin-bottom: 65px;
    }
}

@media (max-width: 1024px) {
    .start-section {
        padding: 30px 30px 0 30px;
    }

    .about-section, .help-section, .donation-section {
        padding: 42px 25px;
    }

    .about-section .about-section-content {
        max-width: 430px;
        margin: 0 auto;
    }

    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .start-section {
        background-size: auto 100%;
    }

    .start-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start-section-img {
        position: static;
        width: 569px;
        height: 593px;
        margin-top: 100px;
    }

    .start-section-description {
        margin-top: 0;
    }

    .start-section-description button {
        margin: 0 auto;
        display: block;
    }

    .about-section-content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-section-content > *:not(:last-child) {
        margin-top: 80px;
    }

    .woody-card {
        display: none;
    }

    .slider {
        margin: 40px 20px;
    }

    .donation-dog img {
        width: 505px;
    }

    .footer-img img {
        width: 300px;
    }

    .donation-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation-content > *:not(:last-child) {
        margin-top: 60px;
        margin-right: 0;
    }

    .donation-description {
        max-width: 380px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;

    }

    .footer-img {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {
    .footer-content .info {
        flex-flow: column;
        align-items: center;
    }

    .footer-content .info > *:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 675px) {
    .start-section-img {
        width: 260px;
        height: 270px;
    }

    .about-img img {
        max-width: 260px;
    }

    .slider {
        justify-content: center;
    }

    .jennifer-card {
        display: none;
    }

    .slider {
        justify-content: center;
    }

    .footer-img img, .donation-dog img {
        width: 260px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .footer-img {
        justify-content: start;
    }
}

@media screen and (max-width: 340px) {
    .card-item h4 {
        font-size: 16px;
    }
}

