@font-face {
    font-family: 'arialregular';
    src: url('fonts/Arial Reg/arial-regular-webfont.woff2') format('woff2'),
    url('fonts/Arial Reg/arial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialitalic';
    src: url('fonts/Arial Italic/ariali_1-webfont.woff2') format('woff2'),
    url('fonts/Arial Italic/ariali_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'georgiaregular';
    src: url('fonts/Georgia/georgia-webfont.woff2') format('woff2'),
    url('fonts/Georgia/georgia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
}

.nav-menu {
    width: 443px;
    height: 27px;
    display: flex;
}

.nav-menu a, .logo p, .start-page p, #about-page p {
    font-family: arialregular, "Roboto Thin", sans-serif;
}

.start-page-text h2, h3, h4, h5, .start-page button, .katrine-card .jennifer-card .woody-card button, #button-primary,
.slider p, #contacts h4 {
    font-family: georgiaregular, "Times New Roman", sans-serif;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 15px;
}

a:not(:last-child) {
    margin-right: 35px;
}

a:hover {
    color: #FAFAFA;
}

a:active {
    border-bottom: solid 1px #F1CDB3;
    color: #FAFAFA;
}

.logo {
    width: 184px;
    height: 60px;
}

.logo p {
    font-size: 13px;
}

.start-page, #about-page, #pets, #help, #donation, #contacts, footer {
    width: 1280px;
}

.start-page {
    background: url("assets/start-screen-gradient-background.png") no-repeat;
    height: 908px;
    position: relative;

}

.start-page-text {
    width: 460px;
    height: 322px;
    padding-left: 40px;
    margin-top: 163px;

}

.start-page-text h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 57px;
    color: white;
}

h3 {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
}

h4 {
    font-size: 20px;
    color: #545454;
}

h5 {
    font-size: 15px;
    color: #545454;
}

.start-page p {
    color: #CDCDCD;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.start-page button {
    width: 207px;
    height: 52px;
    border-radius: 45px;
    background-color: #F1CDB3;
    color: #292929;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

#start-screen-puppy {
    width: 100%;
    height: 100%;
}

.img-puppy {
    position: absolute;
    width: 698px;
    height: 728px;
    right: 40px;
    bottom: 0;
}

#about-page {
    height: 588px;
    background-color: white;
    top: 908px;
    box-sizing: border-box;
    padding: 80px 80px 100px;
}

#about-page img {
    width: 300px;
    margin-left: 175px;
    margin-right: 120px;
}

#about-page p {
    color: #4C4C4C;
    font-size: 15px;

}

.about-content {
    display: flex;
    box-sizing: border-box;

}

#about-page .about-content {
    width: 1200px;
    height: 100%;
}

#pets {
    background-color: #F6F6F6;
}

#pets h3 {
    text-align: center;
}


.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 40px 100px;
}

.katrine-card .jennifer-card .woody-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.katrine-card .jennifer-card .woody-card button {
    font-size: 17px;
}

.katrine-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.jennifer-card {
    background: #FAFAFA;
    border-radius: 9px;
    margin-left: 90px;
    margin-right: 90px;
}

.woody-card {
    background: #FAFAFA;
    border-radius: 9px;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin: 60px 40px;
    box-sizing: border-box;
}


#button-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    font-size: 17px;
    width: 261px;
    height: 52px;

    background: #F1CDB3;
    border-radius: 100px;
}

.slider p {
    font-size: 20px;
}

#help {
    background: #FFFFFF;
}

.help-content h3 {
    text-align: center;
}


.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 60px 87px 100px;
}

.help-possibility {
    width: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#donation {
    background: #F6F6F6;
}

.card-item {
    background-color: #F1CDB3;
    width: 349px;
    height: 43px;
    border-radius: 9px;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
}

.donation-content {
    display: flex;
    box-sizing: border-box;
    margin: 80px 182px 182px 100px;
}

.footer-content {
    display: grid;
    grid-template-columns: 720px 300px;
    column-gap: 160px;
}

.info{
    display: grid;
    grid-template-columns: 278px 302px;
    column-gap: 160px;
}

.contacts img {
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.locations img {
    width: 22px;
    height: 32px;
}

.contacts-item {
    display: flex;
    align-items: baseline;
}

#contacts h4 {
    color: #F1CDB3;
    font-size: 20px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .start-page, .about-page-content, #about-page, #pets, #help, #donation, #contacts, footer {
        width: 768px;
    }

    .start-page {
        background: url("assets/1165height.png") no-repeat;
        height: 1165px;
    }

    header {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .start-screen-content {
        display: flex;
        flex-direction: column;
        margin-left: 99px;
        margin-right: 100px;
    }

    .img-puppy {
        position: static;
        width: 569px;
        height: 593px;
    }

    .start-page-text {
        margin: 60px 54px 100px 55px;
    }

    .start-page-text button {
        margin: 42px 127px 100px 126px;
    }

    #about-page {
        height: 1048px;
    }

    .about-content {
        flex-direction: column-reverse;
        width: 437px;
        height: 868px;
        justify-content: center;
    }

    #about-page img {
        margin: 80px 68px 0 67px;
    }

    #pets {
        height: 877px;
    }

    .pets-content {
        width: 708px;
        height: 697px;
    }

    .jennifer-card {
        margin-left: 30px;
    }

    .woody-card {
        display: none;
    }

    .slider {
        margin: 40px 20px;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, 170px);
        grid-template-rows: repeat(3, 113px);
        gap: 30px;
    }

    #donation {
        height: 783px;
    }

    .donation-content {
        flex-direction: column-reverse;
    }

    .footer-content {
        display: flex;
        flex-direction: column;

    }
    .footer-img {
        display: flex;
        justify-content: center;
    }

}

